* {
  /* margin: 0%;
    padding: 0%; */
}

/*#navbar{
    opacity: 0.5;

  }*/

a {
  font-size: 20px;
  font-family: Poppins;
  font-weight: 400;
}

a:hover {
  text-decoration: underline;
}

nav {
  background: linear-gradient(to left, #2c3e7b,#49598c,#dfe1e8);
}

.barChart {
  border: 2px solid black;
}

li{
  text-align:start;
}
h5{
  text-align:start;
}
.kids {
  border: 1px solid black;
  border-radius: 10%;

}
.professional{
  border: 1px solid black;
  border-radius: 10%;

}
p{
  font-size: 24px;
  font-weight: 500;
}
.block{
  height:auto;
}
 .block1,.block2,.block3,.block4,.block5,.block6,.block7,.block8 {
  border: 1px solid black;
  padding: 110px 10px;
  margin: 5px;

 }

