*{
    /* margin: 0%;
    padding: 0%; */
}
.home {
    background-image: url(/Untitled\ design.png);
    background-repeat: no-repeat;
    background-size:cover;
    height: 1000px;
  }
  /*#navbar{
    opacity: 0.5;

  }*/
a{
  font-size: 18px;
  font-family: Poppins;
}
  
h1{
  font-size: 80px;
  font-family:Poppins;
  padding-top: 100px;
}
.p1{
  font-size: 50px;
  font-family: Poppins;
}
  .headding {
    text-align:center;
    font-size:80px;
    font-weight: 500;
  }
  .p2{
    font-size: 20px;
  }

  .block {
    height: 500px;
    background-color: ;

  }

  .p3 {
    text-align: center;
   border: solid black;
    
    background-color: #02a0c2;
    padding: 20px;
    margin-top: 10px;
    font-size: 30px;
    font-weight: 600;
  }

  .p3 {
    text-align: center;
    border: solid black;
    
    background-color: #02a0c2;
    padding: 20px;
    margin-top: 10px;
    font-size: 30px;
    font-weight: 600;

  }

  .courses {
    height: 500px;
    background:linear-gradient(rgb(0, 195, 255),rgba(1, 208, 255, 0.397));

  }
  .image1{
    height: 300px;
    width: 300px;
  }
  .para1{
    color: #02a0c2;
    margin-left: 10px;
    padding: 10%;

  }
